.submitbutton {
   display: inline-block;
   background-color: #fff2cc;
   width: 500px;
   padding: 20px;
   font-size: 30px;
   text-align: center;
}
.submitbutton:hover{
   background-color: orange;
}
input.key{
    width: 400px; height: 20px;
}
.center {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
    padding-top: 50px;
}
.row-bordered-table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}
.row-bordered-table th {
    padding: 0px;
}

.row-bordered-table td {
  padding: 8px;
  border-top: 1px solid black;
}

.row-bordered-table tr:first-child td {
  border-top: none;
}

.row-bordered-table tr:last-child td {
  border-bottom: none;
}

.row-bordered-table tr:hover td {
  background-color: #f8f8f8;
}
h1 {
   font-size: 300%;
   text-align: center;
    padding-bottom: 5px;
}
.table, .th,. td{
    margin: 0 auto;
}
.td{
    vertical-align: middle;
}