<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Section</title>
    {% load static %}
    <link href="{% static 'createsection/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Create Section</h1>
    <form method="post" action="#">
        {%  csrf_token %}
        <div class="center">
        <table class="row-bordered-table" style="width:50%">
            <tr>
                 <th style="width:20%"></th>
                <th style="width:80%"></th>
            </tr>
            <tr>
                <td><label for="course">Course:</label></td>
                <td style="text-align: center"><input type="text" class="key" id="course" name="course"></td>
                </select></center></td>
            </tr>
            <tr>
                <td><label for="name">Section Name:</label></td>
                <td style="text-align: center"><input type="text" class="key" id="name" name="name"></td>
            </tr>
            <tr>
                <td><label for="location">Location:</label></td>
                <td style="text-align: center"><input type="text" class="key" id="location" name="location"></td>
            </tr>
        </table>
        </div>
        <div class="center">
            <input type="submit" class="submitbutton" value="Create Section">
        </div>
</form>
</body>
</html>