<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    {% load static %}
    <link href="{% static 'home/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div class="container d-flex align-items-center vh-100">
    <div class="container my-5 w-50 mx-auto">
        <h1 class="text-center">Home</h1>
        <div class="btn-group-vertical" style="width: 100%" role="group">
            {% if account.type == 'ADMIN' %}
                <a href="/create_user" class="btn btn-lg btn-primary btn-block rounded">Create User</a>
                <a href="/create_course" class="btn btn-lg btn-primary btn-block rounded">Create Course</a>
                <a href="/create_section" class="btn btn-lg btn-primary btn-block rounded">Create Section</a>
            {% endif %}
        </div>
        {% include "modules/messages.html" %}
        {% include "modules/account_info.html" %}
        {% include "modules/logout_button.html" %}
    </div>
</div>
</body>
</html>
